#movies {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 1em;
  row-gap: 2em;

  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
}
